<div class="col-8" style="max-width: 1000px;">
  <div class="card-header text-center"
    style="font-size: 20px; padding: 20px; width: 100%; background-color: antiquewhite;">
    Music Player
  </div>
  <div>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <label for="upload-photo" style="padding: 20px;">Add Song...</label>
          <i class="fa fa-paperclip" aria-hidden="true" style="color: black;font-size: 20px; font-weight: 500;"></i>
          <input id='upload-photo' type="file" (change)="upload($event)" accept=".mp3,.m4a" />
          <br><br>
          <div *ngIf="isuploading" class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
              [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <br>
          <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
            File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
          </div>
          <br>
          <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
            <button type="button" class="btn btn-primary" (click)="task.pause()"
              [disabled]="state === 'paused'">Pause</button>
            <button type="button" class="btn btn-primary" (click)="task.cancel()"
              [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="task.resume()"
              [disabled]="state === 'running'">Resume</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex mt-4">
      <div style="display: inline;">
        <i class="fa fa-music "
          style="background-color: #dcbc65; font-size: 60px; padding: 20px; margin-left: 20px;margin-bottom: 20px;"
          aria-hidden="true"></i>
      </div>
      <div style="display: inline;">
        <audio id='pa' controls (ended)="playerEnded()">
          <!-- <source src="horse.ogg" type="audio/ogg"> -->
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>

  <table class="table table-hover mt-4 " >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="max-width: 400px;">Song</th>
        <th scope="col">Play</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
      <tbody >
        <tr *ngFor="let song of playList;index as i" [class.current]=' playingIndex === i '>
          <th scope="row">{{i+1}}</th>
          <td style="max-width: 400px; word-break:break-all;">{{song?.name}}</td>
          <td>
            <i (click)="set(song,i)" *ngIf="playingIndex !== i" class="fa fa-play" aria-hidden="true"></i>
            <i (click)="playingIndex=undefined" (click)="pauseTrack()" *ngIf="playingIndex === i" class="fa fa-pause"
              aria-hidden="true"></i>

          </td>
          <td>
            <i (click)="deleteTrack(song,i)" class="fa fa-trash delete" aria-hidden="true"></i>
          </td>

        </tr>
      </tbody>
  </table>
</div>

<div class="col-4"></div>
